.mainSect {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  .carouselSect {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    .carouselWrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: transform 0.5s ease;

      .carouselDiv {
        min-width: 100%;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        height: 420px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 30px;
        overflow: hidden;
        .contentDiv {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          margin: auto;
          padding: 48px;
          padding-bottom: 120px;
          border-radius: 30px;
          .titleDiv {
            width: 100%;
            color: white;
            h1 {
              font-size: 48px;
            }
            p {
              width: 700px;
            }
          }
          .btnDiv {
            width: 100%;
            button {
              width: 206px;
              height: 64px;
              border-radius: 8px;
              border: none;
              background-color: #4f46e5;
              font-weight: 500;
              color: white;
              font-size: 20px;
            }
          }
        }
      }
    }
    .imgCountDiv {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      bottom: 40px;
      gap: 200px;
      .c1 {
        width: 100px;
      }
      .count {
        width: 200px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
          width: 57px;
          height: 8px;
          border-radius: 999px;
          background-color: #f5f5f5;
        }
      }
      .nextPrevBtn {
        display: flex;
        align-items: center;
        gap: 25px;
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
  .carouselSect {
    .carousel1 {
      background-image: url("/carousel1.png");
      background-size: 100% 100%;
    }
    .carousel2 {
      background-image: url("/carousel2.png");
      background-size: 100% 100%;
    }
    .carousel3 {
      background-image: url("/carousel3.png");
      background-size: 100% 100%;
    }
  }

  /* Start Learning Today */

  .startLearning {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .titleDiv {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      h1 {
        font-size: 40px;
        font-weight: 600;
        margin: 0;
      }
      p {
        font-size: 18px;
        color: #3d3d3d;
        font-weight: 500;
      }
    }
    .carDiv {
      width: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      .card {
        width: 506px;
        height: 576px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 12px;
        gap: 10px;
        background-color: #ffffff;
        padding: 10px;
        transition: 0.3s;
        border: none;
        border: 1px solid white;
        .cardImg {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          img {
            width: 466px;
            height: 262px;
            border-radius: 10px;
          }
        }
        .lectorAndRating {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 15px;
          .starRating {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
          }
        }
        .courseTitle {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: start;
          h1 {
            font-size: 24px;
            font-weight: 600;
          }
        }
        .courseDesc {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: start;
          font-size: 16px;
          font-weight: 500;
          color: #666666;
          p {
            width: 412px;
          }
        }
        .priceAndDtl {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .price {
            display: flex;
            align-items: center;
            gap: 10px;
            p {
              font-size: 12px;
              font-weight: 500;
              color: #8a8a8a;
            }
            .h1 {
              font-size: 32px;
              font-weight: 600;
              color: #141414;
            }
          }
          .detailBtn {
            display: flex;
            align-items: center;
            justify-items: center;
            button {
              width: 116px;
              height: 58px;
              border-radius: 8px;
              background-color: #4f46e5;
              font-size: 20px;
              color: #f5f5f5;
              font-weight: 500;
              border: none;
            }
            button:hover {
              cursor: pointer;
            }
          }
        }
      }
      .card:hover {
        border: 1px solid #958fef;
        transition: 0.3s;
        cursor: pointer;
      }
    }
  }

  /* Continue Learning */

  .continueLearning {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
    .titleDiv {
      width: 100%;
      div {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        p:nth-child(1) {
          font-size: 18px;
          font-weight: 500;
          color: #4a5565;
          letter-spacing: 0%;
          line-height: 100%;
        }
        p:nth-child(2) {
          font-size: 20px;
          font-weight: 500;
          color: #4f46e5;
          letter-spacing: 0%;
          line-height: 100%;
          text-decoration: underline;
        }
      }
      h1 {
        margin: 0;
        font-size: 40px;
        font-weight: 600;
        color: black;
      }
    }
    .carDiv {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 12px;
      gap: 10px;
      .card {
        width: 506px;
        height: 219px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: 0.5px solid #ffffff;
        background-color: #ffffff;
        padding: 20px;
        .imageTitle {
          width: 100%;
          height: 123px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          .imgDiv {
            img {
              width: 140px;
              height: 123px;
              border-radius: 12px;
            }
          }
          .cardTitleDiv {
            width: 100%;
            height: 123px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 10px;
            .LectureRating {
              width: 100%;
              display: flex;
              align-items: start;
              justify-content: space-between;
              p {
                margin: 0;
              }
              .starRating {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                p {
                  margin: 1px;
                }
              }
            }
            .title {
              width: 100%;
              h1 {
                font-size: 20px;
                font-weight: 600;
                margin: 0;
              }
            }
          }
        }
        .progresDiv {
          width: 100%;
          display: flex;
          gap: 10px;
          align-items: center;
          justify-content: space-between;
          .progresBar {
            width: 100%;
            display: flex;
            flex-direction: column;

            p {
              font-size: 12px;
              font-weight: 500;
              margin: 4px;
            }
            .progress {
              width: 336px;
              height: 15.31px;
              background-color: #dddbfa;
              border-radius: 30px;
              div {
                width: 65%;
                height: 15.13px;
                background-color: #4f46e5;
                border-radius: 30px;
              }
            }
          }
          .btnDiv {
            width: 100%;
            button {
              width: 90px;
              height: 48px;
              border: 2px solid #958fef;
              color: #4f46e5;
              font-size: 16px;
              font-weight: 500;
              border-radius: 8px;
            }
          }
        }
      }
    }

    /* login in popup */
    .signInPop {
      width: 100%;
      height: 270px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      position: absolute;
      z-index: 1;
      backdrop-filter: blur(10px);
      bottom: 0;
      .loginIn {
        width: 418px;
        height: 233px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ffff;
        gap: 5px;
        border-radius: 12px;
        border: 1px solid #d1d1d1;
        .imgDiv {
          width: 74px;
          height: 76px;
          border-radius: 50px;
          background-color: #dddbfa;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .titleDiv {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .btnDiv {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            width: 83px;
            height: 42px;
            border: none;
            border-radius: 8px;
            background-color: #4f46e5;
            color: #f5f5f5;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }
  }
}
