<section class="mainSect">
  <section class="carouselSect">
    <div
      class="carouselWrapper"
      [style.transform]="'translateX(-' + (carouselCount - 1) * 100 + '%)'"
    >
      <!-- carousel1 -->
      <div class="carouselDiv">
        <div class="contentDiv carousel1">
          <div class="titleDiv">
            <h1>Start learning something new today</h1>
            <p>
              Explore a wide range of expert-led courses in design, development,
              business, and more. Find the skills you need to grow your career
              and learn at your own pace.
            </p>
          </div>
          <div class="btnDiv">
            <button>Browse Courses</button>
          </div>
        </div>
      </div>
      <!-- carousel2 -->
      <div class="carouselDiv">
        <div class="contentDiv carousel2">
          <div class="titleDiv">
            <h1>Pick up where you left off</h1>
            <p>
              Your learning journey is already in progress. Continue your
              enrolled courses, track your progress, and stay on track toward
              completing your goals.
            </p>
          </div>
          <div class="btnDiv">
            <button>Start Learning</button>
          </div>
        </div>
      </div>

      <!-- carousel3 -->
      <div class="carouselDiv">
        <div class="contentDiv carousel3">
          <div class="titleDiv">
            <h1>Learn together, grow faster</h1>
          </div>
          <div class="btnDiv">
            <button>Learn More</button>
          </div>
        </div>
      </div>
    </div>
    <div class="imgCountDiv">
      <div class="c1"></div>
      <div class="count">
        @if (carouselCount == 1) {
          <div [style.background-color]="'#FFFFFF'"></div>
          <div [style.background-color]="'#C1BCBC80'"></div>
          <div [style.background-color]="'#C1BCBC80'"></div>
        } @else if (carouselCount == 2) {
          <div [style.background-color]="'#C1BCBC80'"></div>
          <div [style.background-color]="'#FFFFFF'"></div>
          <div [style.background-color]="'#C1BCBC80'"></div>
        } @else if (carouselCount == 3) {
          <div [style.background-color]="'#C1BCBC80'"></div>
          <div [style.background-color]="'#C1BCBC80'"></div>
          <div [style.background-color]="'#FFFFFF'"></div>
        }
      </div>
      <div class="nextPrevBtn">
        @if (carouselCount == 1) {
          <button (click)="prevCarousel()" disabled>
            <img src="disabledPrevBtn.png" alt="" />
          </button>
        } @else {
          <button (click)="prevCarousel()">
            <img src="arrowPrev.png" alt="" />
          </button>
        }

        @if (carouselCount == 3) {
          <button (click)="nextCarousel()" disabled>
            <img src="disabledNextBtn.png" alt="" />
          </button>
        } @else {
          <button (click)="nextCarousel()">
            <img src="arrowNext.png" alt="" />
          </button>
        }
      </div>
    </div>
  </section>

  <!-- Start Learning Today -->

  <section class="startLearning">
    <!-- Title -->
    <div class="titleDiv">
      <h1>Start Learning Today</h1>
      <p>Choose from our most popular courses and begin your journey</p>
    </div>

    <!-- Card -->
    <div class="carDiv">
      <!-- img -->
      @for (item of featuredData; track $index) {
        <div class="card">
          <div class="cardImg">
            <img [src]="item.image" alt="" />
          </div>
          <!-- rating -->
          <div class="lectorAndRating">
            <p>{{ item.instructor.name }}</p>

            <div class="starRating">
              <img src="Star.png" alt="" />
              <p>{{ item.avgRating }}</p>
            </div>
          </div>
          <!-- Course Title -->
          <div class="courseTitle">
            <h1>{{ item.title }}</h1>
          </div>
          <!-- Course Desc -->
          <div class="courseDesc">
            <p>
              {{ item.description }}
            </p>
          </div>

          <!-- Price and Details BTN -->
          <div class="priceAndDtl">
            <div class="price">
              <p>Starting from</p>
              <h1>{{ item.basePrice }}</h1>
            </div>
            <div class="detailBtn">
              <button>Details</button>
            </div>
          </div>
        </div>
      }
    </div>
  </section>

  <!-- Continue learning -->

  <section class="continueLearning notAuthorized">
    <div class="titleDiv">
      <h1>Continue Learning</h1>
      <p>Pick up where you left</p>
    </div>

    <div class="carDiv">
      <div class="card">
        <div class="imageTitle">
          <div class="imgDiv"><img src="compImage.png" alt="" /></div>
          <div class="cardTitleDiv">
            <div class="LectureRating">
              <p>Lecturer Marilyn Mango</p>
              <div class="starRating">
                <img src="Star.png" alt="" />
                <p>4.9</p>
              </div>
            </div>
            <div class="title">
              <h1>Advanced React & TypeScript Development</h1>
            </div>
          </div>
        </div>
        <div class="progresDiv">
          <div class="progresBar">
            <p>65% Complete</p>
            <div class="progress">
              <div></div>
            </div>
          </div>
          <div class="btnDiv">
            <button>View</button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imageTitle">
          <div class="imgDiv"><img src="compImage.png" alt="" /></div>
          <div class="cardTitleDiv">
            <div class="LectureRating">
              <p>Lecturer Marilyn Mango</p>
              <div class="starRating">
                <img src="Star.png" alt="" />
                <p>4.9</p>
              </div>
            </div>
            <div class="title">
              <h1>Advanced React & TypeScript Development</h1>
            </div>
          </div>
        </div>
        <div class="progresDiv">
          <div class="progresBar">
            <p>65% Complete</p>
            <div class="progress">
              <div></div>
            </div>
          </div>
          <div class="btnDiv">
            <button>View</button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imageTitle">
          <div class="imgDiv"><img src="compImage.png" alt="" /></div>
          <div class="cardTitleDiv">
            <div class="LectureRating">
              <p>Lecturer Marilyn Mango</p>
              <div class="starRating">
                <img src="Star.png" alt="" />
                <p>4.9</p>
              </div>
            </div>
            <div class="title">
              <h1>Advanced React & TypeScript Development</h1>
            </div>
          </div>
        </div>
        <div class="progresDiv">
          <div class="progresBar">
            <p>65% Complete</p>
            <div class="progress">
              <div></div>
            </div>
          </div>
          <div class="btnDiv">
            <button>View</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Sign In popup  -->

    <section class="signInPop">
      <div class="loginIn">
        <div class="imgDiv">
          <img src="" alt="" />
        </div>
        <div class="titleDiv">
          <p>Sign in to track your learning progress</p>
        </div>
        <div class="btnDiv">
          <button>Log In</button>
        </div>
      </div>
    </section>
  </section>
</section>
