<div class="mainSect" [class.closeEnroll]="openCloseEnrolled" (click)="closeLogin()">
  <section class="enroledSect">
    <div class="inside">
      <div class="d1">
        <h1>Enrolled Courses</h1>
        <p>Total Enrollments: 0</p>
      </div>
      <div class="d2">
        <div>
          <img src="frame.png" alt="" />
          <h1>No Enrolled Courses Yet</h1>
          <p>
            Your learning journey starts here! Browse courses to get started.
          </p>
          <button>Browse Course</button>
        </div>
      </div>
    </div>
  </section>
</div>
