<section class="loginSect" [class.closeLogin]="OpencloseRegisterPop">
  <div class="loginDiv">
    <div class="closeDiv">
      <img src="close.png" alt="" (click)="closeLogin()">
    </div>
    <div class="titleDiv">
      <h1>Create Account</h1>
      <p>Join and start learning today</p>
    </div>
    <div class="inputDiv">
        <div class="threeDiv">
            <div></div>
            <div></div>
            <div></div>
        </div>
      <form action="">
        <div>
          <label for="">Email</label>
          <input type="email" />
        </div>
        <button type="submit">Next</button>
      </form>
    </div>
    <div class="signUpDiv">
      <div></div>
      <p>or</p>
      <div></div>
    </div>

    <div class="dontAcc">
      <p>Already have an account? <span>Log In</span></p>
    </div>
  </div>
</section>
