<section class="loginSect" [class.closeLogin]="OpencloseRegisterPop">
  <div class="loginDiv">
    <div class="closeDiv">
      <img src="arrowBack.png" alt="">
      <img src="close.png" alt="" (click)="closeLogin()" />
    </div>
    <div class="titleDiv">
      <h1>Create Account</h1>
      <p>Join and start learning today</p>
    </div>
    <div class="inputDiv">
      <div class="threeDiv">
        @if (carouselCount == 1 || carouselCount == 3) {
          <div [style.background-color]="'#B7B3F4'"></div>
        } @else {
          <div [style.background-color]="'#EEEDFC'"></div>
        }
        @if (carouselCount == 1 || carouselCount == 2 || carouselCount == 3) {
          <div [style.background-color]="'#B7B3F4'"></div>
        } @else {
          <div [style.background-color]="'#EEEDFC'"></div>
        }
        <div></div>
      </div>

      <!-- carousel -->
      <section class="carouselSect">
        <form
          action=""
          
          [formGroup]="registerForm"
          class="carouselWrapper"
          [style.transform]="'translateX(-' + (carouselCount - 1) * 100 + '%)'"
        >
          <!-- email -->
          <div class="carouselDiv">
            <div class="emailDiv">
              <label for="">Email</label>
              <input
                type="email"
                placeholder="you@example.com"
                formControlName="email"
              />
            </div>
            <button (click)="nextCarousel()">Next</button>
          </div>

          <!-- password -->

          <div class="carouselDiv">
            <div class="passwordDiv">
              <label for="">Password*</label>
              <input
                type="password"
                placeholder="Password"
                formControlName="password"
              />
            </div>

            <div class="passwordDiv">
              <label for="">Confirm Password*</label>
              <input type="password" formControlName="password_confirmation" />
            </div>
            <button (click)="nextCarousel()">Next</button>
          </div>

          <!-- username and avatar -->

          <div class="carouselDiv">
            <div class="usernameAvatar">
              <label for="">Username*</label>
              <input
                type="text"
                placeholder="Username"
                formControlName="username"
              />
            </div>

            <div class="usernameAvatar">
              <label for="">Upload Avatar*</label>
              <input
                type="image"
                placeholder="Avatar"
                (change)="imageSelected($event)"
              />
            </div>

            <button type="submit" (click)="submit()">Sign Up</button>
          </div>
        </form>
      </section>
    </div>
    <div class="signUpDiv">
      <div></div>
      <p>or</p>
      <div></div>
    </div>

    <div class="dontAcc">
      <p>Already have an account? <span>Log In</span></p>
    </div>
  </div>
</section>
