<footer>
  <div class="firstDiv">
    <div class="aboutDiv">
      <div class="iconDiv">
        <div class="imgDiv">
          <img src="Vector.png" alt="" />
        </div>
        <p>Bootcamp</p>
      </div>
      <div class="pDiv">
        <p>Your learning journey starts here! Browse courses to get started.</p>
      </div>
      <div class="socMedia">
        <span>
          <img src="Facebook.png" alt="" />
        </span>
        <span>
          <img src="Twitter.png" alt="" />
        </span>
        <span>
          <img src="Instagram.png" alt="" />
        </span>
        <span>
          <img src="LinkedIn.png" alt="" />
        </span>
        <span>
          <img src="YouTube.png" alt="" />
        </span>
      </div>
    </div>

    <div class="features">
      <div>
        <h1>Explore</h1>
        <ul>
          <li>Enrolled Courses</li>
          <li>Browse Courses</li>
        </ul>
      </div>
      <div>
        <h1>Account</h1>
        <ul>
          <li>My Profile</li>
        </ul>
      </div>
      <div>
        <h1>Contact</h1>
        <ul>
          <li><img src="Mail.png" alt="" /> contact &#64;company.com</li>
          <li><img src="Phone.png" alt="" /> (+995) 555 111 222</li>
          <li><img src="MapPin.png" alt="" /> Aghmashenebeli St.115</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="copyRightDiv">
    <div class="rightDiv1">
      <p>Copyright &#64; 2026 Redberry International</p>
    </div>
    <div class="rightDiv2">
      <ul>
        <li>All Rights Reserved</li>
        <li>Terms and Conditions</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
  </div>
</footer>
