<section class="courseDetail">
  <div class="routeDiv">
    <p>Home > Browse > <span>Development</span></p>
  </div>
  <div class="infoDiv">
    @for (item of courseInfo; track $index) {
      <div class="firstDiv">
        <div class="titleDiv">
          <h1>{{ item.title }}</h1>
        </div>
        <div class="imgDiv">
          <img [src]="item.image" alt="" />
        </div>
        <div class="hourRatingDiv">
          <div class="hours">
            <p>
              <span><img src="calendar.png" alt="" /></span
              >{{ item.durationWeeks }} weeks
            </p>
            <p>
              <span><img src="clock.png" alt="" /></span>{{ item.hours }} Hours
            </p>
          </div>
          <div class="rating">
            <p>
              <span><img src="Star.png" alt="" /></span
              >{{ item.reviews[0].rating }}
            </p>
            <p>
              <span><img src="development.png" alt="" /></span>Development
            </p>
          </div>
        </div>
        <div class="mentorDiv">
          <img [src]="item.instructor.avatar" alt="" />
          <p>{{ item.instructor.name }}</p>
        </div>
        <div class="description">
          <h3>Course Description</h3>
          <p>{{ item.description }}</p>
        </div>
      </div>
    }
    <div class="secondDiv">
      <div class="accordionDiv">
        <div class="accordion one">
          <div class="item">
            <div class="header" (click)="toggle(1)">
              <div class="number">
                <span class="spanOne">1</span>
                <h1>Weekly Schedule</h1>
              </div>
              <span><img src="arrowDown.png" alt="" /></span>
            </div>

            @if (this.open) {
              <div class="content">
                @for (item of scheduleArray; track $index) {
                  <div class="" (click)="getScheduleId(item.id)">
                    <p>{{ item.label }}</p>
                  </div>
                }
              </div>
            }
          </div>
        </div>

        <div class="accordion two">
          <div class="item">
            <div class="header" (click)="toggle(1)">
              <div class="number">
                <span class="spanOne">1</span>
                <h1>Time Slot</h1>
              </div>
              <span><img src="arrowDown.png" alt="" /></span>
            </div>

            @if (this.open) {
              <div class="content">
                @if (scheduleId > 0) {
                  @for (item of timeSlotArray; track $index) {
                    <div
                      class="contentDiv"
                      [style.border]="'1px solid black'"
                      (click)="getTimeSlotID(item.id)"
                    >
                      @if (item.label == "Morning (9:00 AM - 11:00 AM)") {
                        <img src="goodWeather.png" alt="" />
                      } @else if (item.label == "Evening (6:00 PM - 8:00 PM)") {
                        <img src="moon.png" alt="" />
                      } @else if (
                        item.label == "Afternoon (2:00 PM - 4:00 PM)"
                      ) {
                        <img src="sun.png" alt="" />
                      }
                      <div>
                        <p [style.color]="'black'">{{ item.label }}</p>
                      </div>
                    </div>
                  }
                } @else {
                  <div class="contentDiv">
                    <img src="goodWeather.png" alt="" />
                    <div>
                      <p>Morning</p>
                      <p>9:00 AM - 12:00 PM</p>
                    </div>
                  </div>
                  <div class="contentDiv">
                    <img src="sun.png" alt="" />
                    <div>
                      <p>Afternoon</p>
                      <p>12:00 AM - 6:00 PM</p>
                    </div>
                  </div>
                  <div class="contentDiv">
                    <img src="moon.png" alt="" />
                    <div>
                      <p>Evening</p>
                      <p>6:00 AM - 9:00 PM</p>
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        </div>

        <div class="accordion three">
          <div class="item">
            <div class="header" (click)="toggle(1)">
              <div class="number">
                <span class="spanOne">1</span>
                <h1>Session Type</h1>
              </div>
              <span><img src="arrowDown.png" alt="" /></span>
            </div>

            @if (this.open) {
              <div class="content">
                @if (timeSlotId > 0) {
                  @for (item of sessionTypeArray; track $index) {
                    <div class="contentDiv" [style.border]="'1px solid black'">
                      @if (item.name == "online") {
                        <img src="computer.png" alt="" />
                      } @else if (item.name == "hybrid") {
                        <img src="hybrid.png" alt="" />
                      } @else if (item.name == "in_person") {
                        <img src="pin.png" alt="" />
                      }

                      <p [style.color]="'black'">{{ item.name }}</p>
                      <p [style.color]="'black'">Google Meet</p>
                      @if (item.priceModifier == "0.00") {
                        <p [style.color]="'black'">Included</p>
                      } @else {
                        <p [style.color]="'black'">${{ item.priceModifier }}</p>
                      }
                    </div>
                  }
                } @else {
                  <div class="contentDiv">
                    <img src="computer.png" alt="" />

                    <p>Online</p>
                    <p>Google Meet</p>
                    <p>Included</p>
                  </div>
                  <div class="contentDiv">
                    <img src="person.png" alt="" />

                    <p>In-Person</p>
                    <p>
                      <span><img src="pin.png" alt="" /></span>Chavchavadze
                      st.34
                    </p>
                    <p>+ $30</p>
                  </div>
                  <div class="contentDiv">
                    <img src="hybrid.png" alt="" />

                    <p>Hybrid</p>
                    <p>
                      <span><img src="pin.png" alt="" /></span>Chavchavadze
                      st.34
                    </p>
                    <p>+ $50</p>
                  </div>
                }
              </div>
            }
          </div>
        </div>
      </div>

      <div class="priceDiv">
        <div class="totalPrice">
          <p>Total Price</p>
          <p>${{ totalPrice }}</p>
        </div>

        <div class="basePrice">
          <p>Base Price</p>
          <p>+ ${{ basePrice }}</p>
        </div>
        <div class="sessionType">
          <p>Session Type</p>
          <p>+ ${{ priceModifier }}</p>
        </div>
        <button (click)="enroleCourse()">Enroll Now</button>
      </div>
    </div>
  </div>
</section>
