<section class="profilePopUp">
  <div class="profileDiv">
    <div class="closeDiv"><img src="close.png" alt="" /></div>
    <div class="prof">
      <form action="">
        <h1>Profile</h1>
        <div class="avatarStatus">
          <div class="imgDiv">
            <img src="User.png" alt="" />
            <div class="statusDiv"></div>
          </div>
          <div class="userNameStatus">
            <h4>Username</h4>
            <p>Incomplete Profile</p>
          </div>
        </div>
        <div class="inputDiv">
          <label for="">Full Name</label>
          <input type="text" placeholder="Username" />
        </div>
        <div class="inputDiv">
          <label for="">Email</label>
          <input type="text" placeholder="Email@gmail.com" />
        </div>
        <div class="phoneAge">
          <div class="phoneDiv">
            <label for="">Mobile Number</label>
            <input type="text" placeholder="+995" class="phoneInp"/>
          </div>
          <div class="ageDiv">
            <label for="">Age</label>
            <select name="" id="">
              <option value="">29</option>
              <option value="">29</option>
              <option value="">29</option>
              <option value="">29</option>
            </select>
          </div>
        </div>
        <div class="avatar">
          <label for="">Upload Avatar</label>
          <div>
            <div class="icon">
              <img src="upload.png" alt="" />
            </div>
            <div class="inputDiv">
              <input type="file" />
            </div>
            <div class="labelDiv">
              <label for="">JPG, PNG or WebP</label>
            </div>
          </div>
        </div>
        <button type="submit">Update Profile</button>
      </form>
    </div>
  </div>
</section>
